/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 * 
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attched to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */



 /**
 * Component: Button
 * -------------------------------------------------------------------------- */

 :root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}



/**
 * Component: Home
 * -------------------------------------------------------------------------- */

 :root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    95deg,
    #d60edd 50%,
    #8be8f2 50%
  );



   --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #9f7082 50%,
    #7a4a5c 50%
    
  );
  
}

:root {
  --vp-home-hero-name-background: linear-gradient(120deg, #d583a5, #8e5a6a);
}


.VPContent.is-home{
    background-color:  #1b1a1b;
}



.VPFooter {
  background-color: #1b1a1b !important;
  
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(90px);
  }
}

.VPImage.image-src{
    width: 500px;  /* ajuste selon besoin */
    height: 500px;  /* garde les proportions */
    border-radius: 40px;
}

.box {
  background-color: #232123;
    padding: 20px;
    border-radius: 12px;
}

.VPLink.link.no-icon.VPFeature{
  color: #d8cbd5;
}

.link-text-value {
  color: #f28ba0 !important;
}

.VPLink.link.no-icon.VPFeature {
    color: #f0edef;
    override-colors: #a41681;
}


:root {
  --vp-c-brand-1: #f28ba0;  /* Rose principal */
  --vp-c-brand-2: #e8718c;  /* Rose hover */
  --vp-c-brand-3: #de5a78;  /* Rose actif */
}

.VPNavBarMenuLink:hover,
.VPLink:hover {
  color: var(--vp-c-brand-2);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}


/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

